<center><img src="images/header.png"></center>

<h1><center>Алгоритмы интеллектуальной обработки больших объемов данных</center></h1>
<hr>
<h2><center>Алгоритмы кластеризации (практика)</center></h2>

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,5)

# Для кириллицы на графиках
font = {'family': 'Verdana',
        'weight': 'normal'}
plt.rc('font', **font)

try:
    from ipywidgets import interact, IntSlider, fixed, FloatSlider
except ImportError:
    print (u'Так надо')

# Пищевая ценность продуктов

Загрузите файл `food.txt`. В нем содержится информация о пищевой ценности разных продуктов

# "Name" is the name of the item.
#
# "Energy" is the number of calories.
#
# "Protein" is the amount of protein in grams.
#
# "Fat" is the amount of fat in grams.
#
# "Calcium" is the amount of calcium in milligrams.
#
# "Iron" is the amount of iron in milligrams.

* Подготовте данные к кластеризации и сделайте иерарническую кластеризацию этого набора данных.
* Изобразите дендрограмму
* Выверите число кластеров и интерпретируйте их

Почему перед применением кластеризации признки необходимо нормализовать?

In [3]:
df = pd.read_csv('data/food.txt', sep=' ')
df.head()

           Name  Energy  Protein  Fat  Calcium  Iron
0  Braised beef     340       20   28        9   2.6
1     Hamburger     245       21   17        9   2.7
2    Roast beef     420       15   39        7   2.0
3     Beefsteak     375       19   32        9   2.6
4   Canned beef     180       22   10       17   3.7

In [14]:
## Your Code Here

# Применение K-means

Загрузите [данные](https://github.com/brenden17/sklearnlab/blob/master/facebook/snsdata.csv) в которых содержится описание интересов профилей учеников старшей школы США.

In [3]:
df_sns = pd.read_csv('data/snsdata.csv', sep=',')
df_sns.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,blonde,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2006,F,18.801,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

Данные устроены так: 
* Год выпуска
* Пол
* Возраст
* Количество друзей
* 36 ключевых слов, которые встречаются в профилe facebook (интересы, сообщества, встречи)

#### Задание

* Удалите все признаки кроме 36 ключевых слов.
* Нормализуйте данные - из каждого столбца вычтите его среднее значение и поделите на стандартное отклонение.
* Используйте метод k-means чтобы выделить 9 кластеров
* Попробуйте проинтерпретировать каждый кластер проанализировав полученные центройды (Некоторые кластеры могут быть очень большие и очень маленькие - плохо интерпретируются)

In [39]:
## Your Code Here
from sklearn.cluster import KMeans

In [40]:
X = df_sns.iloc[:,4:].values
X[0,:].std()

0.35855403138977293

In [41]:
X.shape
X = (X-X.mean(axis=0))/X.std(axis=0)

In [42]:
kmeans=KMeans(n_clusters=9, random_state=123)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=9, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=123, tol=0.0001, verbose=0)

In [43]:
labels = kmeans.labels_

In [44]:
df_sns.loc[:,'lable'] = labels
df_sns.head()

,gradyear,gender,age,friends,basketball,football,soccer,softball,volleyball,swimming,...,mall,shopping,clothes,hollister,abercrombie,die,death,drunk,drugs,lable
0,2006,M,18.982,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2006,F,18.801,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,7
2,2006,M,18.335,69,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,2006,F,18.875,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2006,NaN,18.995,10,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,1,3

In [45]:
df_sns.lable.value_counts()

1    19298
7     5670
4     1610
3      998
2      893
5      689
0      574
8      267
6        1
Name: lable, dtype: int64

In [51]:
for c, group in df_sns.groupby('lable'):
    print('cluster: {}'.format(c))
    
    print (group.iloc[:,4:-1].mean().nlargest(5))
    print("="*10+'\n')

cluster: 0
band        5.024390
marching    1.557491
music       1.320557
dance       0.531359
god         0.519164
dtype: float64
==========

cluster: 1
dance       0.372940
music       0.283501
god         0.248160
shopping    0.218261
cute        0.210851
dtype: float64
==========

cluster: 2
hollister      1.440090
abercrombie    1.151176
shopping       0.992161
hair           0.920493
music          0.898096
dtype: float64
==========

cluster: 3
hair      3.269539
sex       2.524048
music     2.066132
kissed    1.638277
die       1.236473
dtype: float64
==========

cluster: 4
basketball    1.663354
softball      1.425466
football      1.156522
volleyball    1.052174
baseball      1.018012
dtype: float64
==========

cluster: 5
soccer      4.920174
music       0.746009
shopping    0.506531
god         0.457184
hair        0.439768
dtype: float64
==========

cluster: 6
blonde    327.0
sex        22.0
hair       12.0
god        10.0
die         6.0
dtype: float64
==========

cluster: 7
music       1.930511
god         0.854850
shopping    0.626279
hair        0.583598
cute        0.534744
dtype: float64
==========

cluster: 8
god       5.722846
jesus     2.692884
church    2.037453
bible     1.370787
music     1.131086
dtype: float64
==========

# Геоданные

In [47]:
import mpl_toolkits.basemap as bm
from sklearn.cluster import DBSCAN
from sklearn.neighbors import NearestNeighbors

ImportError: No module named 'mpl_toolkits.basemap'

Загрузите геоданные из `geo_data.txt` (lat, lon).

Будем пытаться кластеризовать данные с помощью DBSCAN и меры [haversine](https://en.wikipedia.org/wiki/Haversine_formula)

In [106]:
df_geo = pd.read_csv('data/geo_data.txt', sep='\t', header=None,
                     names=['lat', 'lon'])/10000

In [107]:
df_geo.head()

       lat      lon
0  62.5983  29.7439
1  62.6146  29.7440
2  62.6144  29.7456
3  62.6004  29.7394
4  62.6018  29.7437

In [15]:
def plot_geo(lat, lon, labels=None):    
    try:
        lllat, lllon = lat.min()-1, lon.max()+1
        urlat, urlon = lat.max()+1, lon.min()-1

        plt.figure(figsize=(10, 10))

        m = bm.Basemap(
            llcrnrlon=lllon,
            llcrnrlat=lllat,
            urcrnrlon=urlon,
            urcrnrlat=urlat, 
            projection='merc',
            resolution='h'
        )

        m.drawcoastlines(linewidth=0.5)
        m.drawmapboundary(fill_color='#47A4C9', zorder=1)
        m.fillcontinents(color='#EBC4D8',lake_color='#47A4C9', zorder=2)

        parallels = np.linspace(lllat, urlat, 10)
        m.drawparallels(parallels,labels=[1,0,0,0],fontsize=10)
        # draw meridians
        meridians = np.linspace(urlon, lllon, 10)
        m.drawmeridians(meridians,labels=[0,0,0,1],fontsize=10)

        m.scatter(lon, lat, latlon=True, cmap=plt.cm.jet,
              zorder=3, lw=0, c=labels)
    except:
        print 'что-то пошло не так'
        plt.scatter(x=lon, y=lat, c=labels, cmap=plt.cm.jet)
        plt.axis('equal')

Для начала нарисуем все точки на карте

In [ ]:
plot_geo(df_geo.lat.values, df_geo.lon.values, labels=None)

Мы будем использовать расстояние haversine - на входе требуются координаты в **радианах**. Выход тоже будет в радианах. Чтобы перейти от градусов в радианты мы можем вспомнить тригонометрию, а можем воспользоваться функцией `np.radians`.

Для кого, чтобы не терять связь с реальностью, будем иметь ввиду, что расстояние в 1 радиан на земном шаре равно примерно 6371.0088 километрам.

Создайте матрицу X с координатами в радианах

In [17]:
km_in_radian = 6371.0088
X = np.radians(df_geo.values)

Как же определить, какие параметры для DBSCAN выставлять? Наибольшую проблемы представляет параметр eps.

Будем считать, что MinPts нам дан свыше (например MinPts = 20). Воспользуемся следующим способом оценки:

* Расчитайте расстояние до k=MinPts ближайшего соседа каждой точки (класс `NearestNeighbors` и метод `kneighbors`)
* Отсортируйте полученный массив и выведите его на график
* По графику будет примерно понятно, сколько точек уйдет в шум, а сколько попадет в полноценный кластер

In [19]:
nn = NearestNeighbors()

NearestNeighbors(algorithm='ball_tree', leaf_size=30, metric='haversine',
         metric_params=None, n_jobs=1, n_neighbors=20, p=2, radius=1.0)

Определим eps мы можем начать кластеризацию

* Создайте экземпляр класса DBSCAN, кластеризуйте данные
* Выведите полученные метки кластеров и их частоты
* Изобразите координаты точек, не попавших в кластер выбросов (метка -1)